extends layout

block content
	html
		head
			meta(name="viewport" content="width=device-width")
			link(rel='stylesheet', href='/stylesheets/mystyle.css')
			script()
			script()
			h1="Welcome to Pretzel"
		body
			h2.center= "Party Playlist"
			p.center Lil Wayne - Amili
			p.center Grateful - Good Mornin' Little School Girl
			p.center Wings - Band on the Run
			p.center Wiz Khalifa - Paperbond

		div.inputWrapper
			input.fileInput(type="file" name="Userfile")

		div.send
